#dashboard_col1{
	padding: 5% 5%;
	width: 40%;
	float: left;
}
#dashboard_col2{
	padding: 5% 5%;
	width: 40%;
	float: right;
}
#dashboard_main{
	margin: 2.5% 5%;
	background-color: #e3c7f0;
	border-radius: 2.5%;
	height: 100%;
}
#title{
	margin: 2.5% 0% 0% 2.5%;
	font-size: 60px;
}
#welcome{
	font-size: 40px;
}
#online_devices h4{
	font-size: 20px;
}

ul {
    list-style-type: none;
	padding: 30px;
	height: 100px;
	display: block;
	
}

li {
	display: block;
	float: left;
	list-style-type: none;
	margin: 10px;
	padding: 10px;
	overflow: hidden;
}

