h1{
    font-size: 64px;
    letter-spacing: 2px;
    margin-top: 50px;
    margin-left: 30px;
}

.content{
    background: #fff;
    max-width: 90%;
    margin: 30px auto;
    padding:  20px 30px;
    border-radius: 30px 30px 30px 30px;
    box-shadow: 1px 3px 5px rgba(84, 64, 64, 0.5);
}

ul{
    list-style-type: none;
    padding: 0;
}

li{
    padding: 20px;
    background: #f6f6f6;
    font-size: 20px;
    color: #555;
    position: relative;
    border-bottom: 1px solid #e6e6e6;
    height: 46px;
}

li:nth-child(even){
    padding: 20px;
    background: #f2f2f2;
}

li span{
    display: block;
}

li span:nth-child(2){
    font-size: 16px;
    margin-top: 6px;
    color: #999;
}

li div{

    top: 0;
    right: 0px;
    background: rgba(255,255,255,0.6);
    width: 40px;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
    padding: 10px 0;
    font-weight:  bold;
    cursor:  pointer;
}

